body{
	margin:0;
	padding:0;
	color: #333;
	background: none !important;
}
.snk{
/*	background: url(http://kalender.scoutnet.de/2.0/templates/scoutnet/background.gif) 0 -85px repeat-x;*/
	font-family: 'Trebuchet MS', Arial, Sans-Serif;
}
.snk-body{
	padding:2px 15px;
}
.snk-datum, .snk-uhrzeit{
	color: white;
	display: inline;
}
.snk-uhrzeit{
	color: white;
	display: inline;
}
.snk-ebenene-menu{
	float: right;
	color: white;
	position: relative;
	top: -1.4em;
	width:100%;
	text-align:right;
}
.snk-termine{
	clear:both;
	width: 92%;
	margin: 0 auto;
}
.snk-termine table{
	width:100%;
}

.snk-termine-heading{
	padding-top: 0px;
	padding-bottom: 10px;
	font-size: 1.4em;
	color: white;
	font-weight: bold;
/*	background: url(http://kalender.scoutnet.de/2.0/templates/scoutnet/icon.gif) no-repeat 10px 2px;*/
	color: #003055;
}
.snk-headings-row {
	background-color: transparent;
	line-height: 120%;
	padding: 0px;
	color: #333;
}
.snk-termine {
	padding-right: 5px;
	vertical-align: top;
}

.snk a:link, .snk a:visited {
	color:#3333FF;
	text-decoration:underline;
}
.snk a:focus, .snk a:hover {
	color:#000;
	text-decoration:underline;
}
.snk a.snk-termin-link-opened, .snk a:active{
	 color: #FF3300;
	 text-decoration:underline;
}

.snk-footer{
	border-top: 1px dashed #CCCCCC; 
	margin: 2px 18px;
	color: #555;
}
.snk-powered-by{
	text-align: right;
	float: right;
}
.snk-hinzufuegen{
	float: left;
	font-weight: bold;
}
.snk-termin-infos dl{
	border: 1px solid black;
	border-top:0;
	border-right:0;
	margin: 0px 0px 5px 10px;
	padding: 10px 20px 20px 20px;
}
.snk-termin-infos dt{
	font-weight: bold;
}
.snk-eintrag-ebene, table tr th.snk-eintrag-ebene-ueberschrift{
	text-align:left;
}

.snk-monat-heading {
background-color: #003055 !important;
    color: white !important;
    font-weight: bold;
    line-height: 1.42857;
    padding: 8px;
    text-align: left;
}

.snk-hinzufuegen, .snk-ebenene-menu, .snk-uhrzeit, .snk-datum
{
display: none !important;
}
.row {
/*margin: 10px -15px;*/
line-height: 2;
}

.grid-hover:hover {
    background-color: #abcde5;

}

@media (max-width: 768px)
{
.row.grid-hover {
    border-bottom: 1px solid lightgray;
}
.grid-hover:last-child {
    border: none;
}
}
